.solid
{
  border-style:solid groove dotted dashed;
  border-width: 20px 5px 100px 200px;
  border-color: rgb(53, 221, 165) rgb(140, 231, 140) red yellow; 
}
.groove
{
    border: 5px solid red;
}
.dotted
{
    border-style: double;
}
.dashed
{
    border-style: dashed;
}
.double
{
    border-style: double;
}
.ridge
{
    border-style: ridge;
}
.inset
{
    border-style: inset;
}
.outset
{
    border-style: outset;
}
.none
{
    border-style: none;
}
.hidden
{
    border-style: hidden;
}